<a href="{% url 'announcement_detail' slug=ann.slug %}"
    class="bg-white rounded overflow-hidden flex flex-col border border-transparent hover:shadow-lg transition-all cursor-pointer group block mb-1">
    <div class="relative h-[216px] overflow-hidden bg-gray-100">
        {% if ann.images.first %}
        <img src="{{ ann.images.first.image.url }}"
            class="w-full h-full object-cover transition duration-500" alt="{{ ann.name }}">
        {% else %}
        <div class="w-full h-full flex flex-col items-center justify-center text-gray-300">
            <i class="fa-regular fa-image text-3xl mb-2"></i>
            <span class="text-xs">Нет фото</span>
        </div>
        {% endif %}
        {% if ann.product_type == 'vip' %}
        <span
            class="absolute bottom-2 left-2 bg-[#23e5db] text-[#002f34] text-[10px] font-bold px-1.5 py-0.5 uppercase">ТОП</span>
        {% endif %}
    </div>
    <div class="p-4 flex-1 flex flex-col justify-between">
        <div>
          <h3 class="text-base text-[#002f34] leading-tight mb-2 line-clamp-2 transition font-medium">
                {{ ann.name }}
             </h3>
        <p class="text-xs text-gray-400 mb-2 font-normal">
            {% if ann.district %}
                {{ ann.district.name }}, {{ ann.district.region.name }}
            {% endif %}
            <span class="mx-1 text-[10px]">•</span> {{ ann.created_at|date:"d M" }}
        </p>
        </div>
        <div class="flex flex-col mt-2">
            <span class="font-bold text-lg text-[#002f34] mb-2">{{ ann.price }} сум</span>
            <div class="flex items-center justify-between">
               <span class="text-[10px] text-gray-400 uppercase">Обычное</span>
               <i class="{% if ann.id in fav_ids %}fa-solid heart-active text-red-500{% else %}fa-regular{% endif %} fa-heart text-xl text-[#002f34] hover:text-red-500 transition-colors"
                onclick="event.preventDefault(); toggleFavorite({{ ann.id }}, this)"></i>
            </div>
        </div>
    </div>
</a>