{% extends 'apps/base.html' %}
{% load form_extras %}

{% block title %}{{ category.name|default:"Поиск" }} - OLX Clone{% endblock %}

{% block extra_head %}
<style>
    /* Улучшенная обертка */
    .filter-wrapper {
        position: relative;
        width: 100%;
        max-width: 250px;
    }

    /* Имитация select */
    .filter-select-imitation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        background: white;
        border-radius: 0;
        cursor: pointer;
        border-bottom: 2px solid #ced4da;
        transition: border-color 0.3s;
    }

    .filter-select-imitation:hover {
        border-bottom-color: #002f34;
    }

    /* Список категорий */
    .main-categories {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 280px;
        background: white;
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        z-index: 50;
    }

    .category-item {
        position: relative;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #002f34;
        border-bottom: 1px solid #f2f4f5;
    }

    /* Подкатегории */
    .sub-categories {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 280px;
        background: white;
        border-left: 1px solid #f2f4f5;
        box-shadow: 10px 4px 12px rgba(0, 0, 0, 0.1);
        list-style: none;
        padding: 0;
        z-index: 60;
    }

    /* Оформление счетчика (числа) */
    .count-badge {
        background: #f2f4f5;
        color: #002f34;
        font-size: 10px;
        padding: 2px 8px;
        border-radius: 12px;
        margin-right: 8px;
    }

    .category-item:hover {
        background-color: #002f34;
        color: white;
    }

    .category-item:hover .count-badge {
        background: rgba(255, 255, 255, 0.2);
        color: white;
    }

    /* Показываем */
    .hidden-check:checked~.main-categories {
        display: block;
    }

    .category-item:hover>.sub-categories {
        display: block;
    }

    /* Чтобы меню не закрывалось, когда мы ведем мышку к подкатегории */
    .sub-categories::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 0;
        width: 10px;
        height: 100%;
    }
</style>
{% endblock %}

{% block search_section %}{% endblock %}

{% block content %}
<main class="max-w-6xl mx-auto px-4 py-6">
    <section class="bg-white p-6 rounded shadow-sm mb-6">
        <form method="get" action="" class="mb-6">
            <div class="flex gap-2 mb-6">
                <div class="flex-1 relative">
                    <i class="fa-solid fa-magnifying-glass absolute left-4 top-1/2 -translate-y-1/2 text-gray-400"></i>
                    <input type="text" name="q" value="{{ search_value }}" placeholder="Что ищете?"
                        class="w-full border border-gray-300 rounded pl-11 pr-4 py-2 outline-none focus:border-[#002f34]">
                </div>
                <div class="w-80 relative flex items-center gap-1">
                    <i class="fa-solid fa-location-dot absolute left-4 top-1/2 -translate-y-1/2 text-gray-400 z-10"></i>
                    
                    <select id="regionSelectResult" name="region" onchange="updateDistrictsResult(this.value)"
                         class="w-1/2 border border-gray-300 rounded pl-11 pr-2 py-2 outline-none focus:border-[#002f34] appearance-none bg-white text-xs">
                         <option value="">Вся страна</option>
                         {% for region in regions %}
                             <option value="{{ region.id }}" {% if request.GET.region == region.id|slugify %}selected{% endif %}>
                                 {{ region.name }}
                             </option>
                         {% endfor %}
                    </select>

                    <select id="districtSelectResult" name="district"
                         class="w-1/2 border border-gray-300 rounded pl-2 pr-2 py-2 outline-none focus:border-[#002f34] appearance-none bg-white text-xs">
                         <option value="">Весь район</option>
                    </select>
                </div>
                <button type="submit"
                    class="bg-[#002f34] text-white px-8 py-2 rounded font-bold hover:bg-[#004f56] transition">
                    Поиск
                </button>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                <div class="filter-wrapper">
                    <label class="text-xs text-gray-500 uppercase font-bold block mb-1">Категория</label>
                    <input type="checkbox" id="menu-toggle" class="hidden-check hidden">
                    <label for="menu-toggle" class="filter-select-imitation">
                        <span class="text-sm">{{ current_category.name|default:"Выберите категорию" }}</span>
                        <span class="text-[10px] text-gray-400">▼</span>
                    </label>
                    <ul class="main-categories">
                        {% for category in top_categories %}
                        <li class="category-item">
                            <span class="text-sm font-medium">{{ category.name }}</span>
                            <div class="flex items-center">
                                <span class="text-gray-400">›</span>
                            </div>
                            <ul class="sub-categories">
                                <li class="p-4 font-bold text-[#002f34] border-b">Все в {{ category.name }}</li>
                                {% for sub in category.children.all %}
                                <li class="hover:bg-gray-100 p-3">
                                    <a href="{% url 'announcement_list_page' sub.slug %}"
                                        class="text-sm text-[#002f34] block w-full">
                                        {{ sub.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div>
                    <label class="text-xs text-gray-500 uppercase font-bold block mb-1">Цена</label>
                    <div class="flex gap-2">
                        {{ filter.form.min_price }}
                        {{ filter.form.max_price }}
                    </div>
                </div>

                {% for item in dynamic_fields %}
                {% if item.type == "range" %}
                <div>
                    <label class="text-xs text-gray-500 uppercase font-bold block mb-1">{{ item.label }}</label>
                    <div class="flex gap-2">
                        {{ filter.form|get_field:item.min_name }}
                        {{ filter.form|get_field:item.max_name }}
                    </div>
                </div>
                {% else %}
                <div>
                    <label class="text-xs text-gray-500 uppercase font-bold block mb-1">{{ item.label }}</label>
                    {{ filter.form|get_field:item.name }}
                </div>
                {% endif %}
                {% endfor %}
                <div>
                    <label class="text-xs text-gray-500 uppercase font-bold block mb-1">Сортировка</label>
                    <select name="order" onchange="this.form.submit()"
                        class="w-full bg-white border-b-2 border-gray-300 px-4 py-3 outline-none focus:border-[#002f34]">

                        {% with selected_order=request.GET.order|default:"" %}

                            <option value="" {% if selected_order == "" %}selected{% endif %}>
                                Все
                            </option>

                            <option value="new" {% if selected_order == "new" %}selected{% endif %}>
                                Eng yangi
                            </option>

                            <option value="old" {% if selected_order == "old" %}selected{% endif %}>
                                Eng eski
                            </option>

                            <option value="expensive" {% if selected_order == "expensive" %}selected{% endif %}>
                                Eng qimmat
                            </option>

                            <option value="cheap" {% if selected_order == "cheap" %}selected{% endif %}>
                                Eng arzon
                            </option>

                        {% endwith %}
                    </select>
                </div>
            </div>

            <div class="flex justify-end mt-6">
                <a href="?" class="text-sm text-gray-500 underline self-center mr-6">Сбросить фильтры</a>
                <button type="submit"
                    class="bg-[#002f34] text-white px-10 py-3 rounded font-bold hover:bg-[#004f56] transition">
                    Применить
                </button>
            </div>
        </form>
    </section>

    <h3 class="text-xl font-bold text-[#002f34] mb-4">Мы нашли {% if paginator %}{{ paginator.count }}{% else %}{{ announcements.count }}{% endif %} объявлений</h3>

    <div class="space-y-4">
        {% for announcement in announcements %}
        <a href="{% url 'announcement_detail' slug=announcement.slug %}"
            class="bg-white rounded overflow-hidden shadow-sm flex flex-col md:flex-row relative group hover:shadow-md transition block">
            <div class="w-full md:w-72 h-48 relative flex-shrink-0 bg-gray-100">
                {% if announcement.images.first %}
                <img src="{{ announcement.images.first.image.url }}" class="w-full h-full object-cover" alt="">
                {% endif %}
                {% if announcement.product_type == 'vip' %}
                <span
                    class="absolute bottom-2 left-2 bg-[#23e5db] text-[#002f34] text-[10px] font-bold px-1 uppercase">ТОП</span>
                {% endif %}
            </div>

            <div class="p-4 flex flex-col justify-between flex-grow">
                <div>
                    <div class="flex justify-between items-start">
                        <h4
                            class="text-lg text-[#002f34] leading-tight group-hover:text-cyan-600 cursor-pointer font-semibold">
                            {{ announcement.name }}
                        </h4>
                        <i class="{% if announcement.id in fav_ids %}fa-solid heart-active{% else %}fa-regular{% endif %} fa-heart text-xl cursor-pointer hover:text-red-500 transition-colors"
                            onclick="toggleFavorite({{ announcement.id }}, this)"></i>
                    </div>
                    <p class="text-xs text-gray-500 mt-2">
                        {% if announcement.district %}
                        {{ announcement.district.name }}
                        {% if announcement.district.region %}
                        , {{ announcement.district.region.name }}
                        {% endif %}
                        {% endif %}
                        - {{ announcement.created_at|date:"d F Y" }}
                    </p>
                </div>

                <div class="flex justify-between items-end mt-4">
                    <div class="text-sm text-gray-500">
                        {% for key, value in announcement.attribute.items %}
                        <span class="mr-4"><b>{{ key }}:</b> {{ value }}</span>
                        {% endfor %}
                    </div>
                    <div class="text-right">
                        <p class="text-xl font-bold text-[#002f34]">{{ announcement.price }} сум</p>
                    </div>
                </div>
            </div>
        </a>
        {% empty %}
        <div class="text-center py-20 bg-white rounded shadow-sm">
            <p class="text-gray-500">По вашему запросу ничего не найдено.</p>
        </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
    <div class="flex justify-center mt-8">
        <nav class="flex gap-2">
            {% if page_obj.has_previous %}
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}" class="px-3 py-2 bg-white border border-gray-300 rounded text-[#002f34]">&laquo;</a>
            {% endif %}
            
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <span class="px-3 py-2 bg-[#002f34] text-white border border-[#002f34] rounded">{{ i }}</span>
                {% else %}
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ i }}" class="px-3 py-2 bg-white border border-gray-300 rounded text-[#002f34] hover:bg-gray-50">{{ i }}</a>
                {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}" class="px-3 py-2 bg-white border border-gray-300 rounded text-[#002f34]">&raquo;</a>
            {% endif %}
        </nav>
    </div>
    {% endif %}

</main>
{% endblock %}